body {
    margin: 0;
    min-height: 0;
    font-family: "PingFang SC",
        "Microsoft YaHei", Arial, sans-serif;
}

.icon-profile {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    fill: #505050;
}

.flex {
    display: flex;
    align-items: center;
}

.flex.center {
    justify-content: center;
}

.fill-w {
    width: 100%
}

.form-panel {
    width: 100%;
    max-width: 340px;
    margin: 10vh 10px;
}

.form-panel>* {
    margin: 15px 0;
}

button.md-button {
    text-transform: none;
}

.fade-in {
    animation: fade-in 0.2s ease-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.94)
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.dark-bg {
    background-color: rgba(128, 128, 128, 0.4) !important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* smaller device */
@media only screen and (max-width: 768px) {
    .only-g {
        display: none !important;
    }

    .form-panel {
        margin: 20px 10px;
    }
}

/* bigger device */
@media only screen and (min-width: 769px) {
    .only-s {
        display: none !important;
    }
}